/* index.css */

:root {
  --color-principal: #1e3a8a; /* Azul oscuro */
  --color-secundario: #2563eb; /* Azul claro */
  --color-fondo: #f8fafc; /* Fondo general */
  --color-texto: #1f2937; /* Gris oscuro */
  --color-footer: #111827;

  --font-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-titulo: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--font-principal);
}

h1, h2, h3 {
  font-family: var(--font-titulo);
  color: var(--color-principal);
}

a {
  color: var(--color-secundario);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
